@import '~office-ui-fabric-react/dist/sass/References.scss';
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap';

:global {
  .ControlZone--emphasisBackground {
    background-color: transparent !important;
  }
}


  .header{
    
    .mainHeader{
      display: inline;

      .Category{
        width: max-content;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        display: inline-block;
        margin: 5px;
        background-color: #83ca5b;
        border: 1px solid;
  
      }
      .SubCategory{
        margin: 5px;
        font-size: 17px;
        display: grid;
        background-color: #b8e8e8;

      
      }
      .MenuItemsCss{
        display: inline-block;
        padding: 5px;
        font-size: 13px;
        margin: 5px;
        background-color: #deb887;
        
      }

  
    }

    .loremparagraph{
      width: 100%;
      background-color: #fc9fa9;
      font-size: medium;
      
    }

    
    
  
  


.clear {
  clear: both;
}


.loader {
  text-align: center;
  justify-content: center;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #fc9fa9;
  padding: 10px;
  border-radius: 5px;
}


}
